In [113]:
import pandas as pd
import numpy as np
# Load the datasets
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')

In [114]:
# Fill missing values
train_df['Age'].fillna(train_df['Age'].median())
train_df['Embarked'].fillna(train_df['Embarked'].mode()[0])
train_df['Fare'].fillna(train_df['Fare'].median())
test_df['Age'].fillna(test_df['Age'].median())
test_df['Embarked'].fillna(test_df['Embarked'].mode()[0])
test_df['Fare'].fillna(test_df['Fare'].median())

# Convert 'Sex' to numerical
train_df['Sex'] = train_df['Sex'].map({'male': 0, 'female': 1})
test_df['Sex'] = test_df['Sex'].map({'male': 0, 'female': 1})

# One-hot encode 'Embarked'
train_df = pd.get_dummies(train_df, columns=['Embarked'], drop_first=True)
test_df = pd.get_dummies(test_df, columns=['Embarked'], drop_first=True)

# Normalize 'Age' and 'Fare'
train_df['Age'] = (train_df['Age'] - train_df['Age'].mean()) / train_df['Age'].std()
train_df['Fare'] = (train_df['Fare'] - train_df['Fare'].mean()) / train_df['Fare'].std()
test_df['Age'] = (test_df['Age'] - test_df['Age'].mean()) / test_df['Age'].std()
test_df['Fare'] = (test_df['Fare'] - test_df['Fare'].mean()) / test_df['Fare'].std()

In [115]:
train_data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked_Q,Embarked_S
0,1,0,3,"Braund, Mr. Owen Harris",0,-0.530005,1,0,A/5 21171,-0.502163,NaN,False,True
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,0.571430,1,0,PC 17599,0.786404,C85,False,False
2,3,1,3,"Heikkinen, Miss. Laina",1,-0.254646,0,0,STON/O2. 3101282,-0.488580,NaN,False,True
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,0.364911,1,0,113803,0.420494,C123,False,True
4,5,0,3,"Allen, Mr. William Henry",0,0.364911,0,0,373450,-0.486064,NaN,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",0,-0.185807,0,0,211536,-0.386454,NaN,False,True
887,888,1,1,"Graham, Miss. Margaret Edith",1,-0.736524,0,0,112053,-0.044356,B42,False,True
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",1,NaN,1,2,W./C. 6607,-0.176164,NaN,False,True
889,890,1,1,"Behr, Mr. Karl Howell",0,-0.254646,0,0,111369,-0.044356,C148,False,False
890,891,0,3,"Dooley, Mr. Patrick",0,0.158392,0,0,370376,-0.492101,NaN,True,False

In [116]:
# Select features for training and testing
Xtrain = train_df[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked_Q', 'Embarked_S']].values
Ytrain = train_df['Survived'].values.reshape(-1, 1)

Xtest = test_df[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked_Q', 'Embarked_S']].values

In [117]:

# Initialize weights and biases
def initialize_parameters(input_size, hidden_size, output_size):
    np.random.seed(42)
    W1 = np.random.randn(input_size, hidden_size) * 0.01
    b1 = np.zeros((1, hidden_size))
    W2 = np.random.randn(hidden_size, output_size) * 0.01
    b2 = np.zeros((1, output_size))
    return W1, b1, W2, b2

# Set the network architecture
input_size = Xtrain.shape[1]
hidden_size = 10  # Hidden layer size
output_size = 1   # Binary output (Survived or not)
W1, b1, W2, b2 = initialize_parameters(input_size, hidden_size, output_size)

In [136]:
# Sigmoid function
def sigmoid(z):
    print(f"type of z is {type(z)}")

    return 1 / (1 + np.exp(-z))

# Forward pass function
def forward(X, W1, b1, W2, b2):
    Z1 = np.dot(X, W1) + b1
    print("Z1:", Z1)
    print("Type of Z1:", type(Z1))
    A1 = sigmoid(Z1)
    Z2 = np.dot(A1, W2) + b2
    print("Z2:", Z2)
    print("Type of Z2:", type(Z2))
    A2 = sigmoid(Z2)
    return A1, A2

In [119]:
# Sigmoid derivative for backpropagation
def sigmoid_derivative(z):
    return sigmoid(z) * (1 - sigmoid(z))

# Backpropagation function
def backpropagation(X, Y, A1, A2, W2):
    m = X.shape[0]
    
    # Output layer gradients
    dZ2 = A2 - Y
    dW2 = np.dot(A1.T, dZ2) / m
    db2 = np.sum(dZ2, axis=0, keepdims=True) / m
    
    # Hidden layer gradients
    dA1 = np.dot(dZ2, W2.T)
    dZ1 = dA1 * sigmoid_derivative(A1)
    dW1 = np.dot(X.T, dZ1) / m
    db1 = np.sum(dZ1, axis=0, keepdims=True) / m
    
    return dW1, db1, dW2, db2

In [120]:
# Update parameters function
def update_parameters(W1, b1, W2, b2, dW1, db1, dW2, db2, learning_rate):
    W1 -= learning_rate * dW1
    b1 -= learning_rate * db1
    W2 -= learning_rate * dW2
    b2 -= learning_rate * db2
    return W1, b1, W2, b2

In [121]:
# Prediction function
def predict(X, W1, b1, W2, b2):
    _, A2 = forward(X, W1, b1, W2, b2)
    return (A2 > 0.5).astype(int)

In [137]:
# Training function
def train(Xtrain, Ytrain, Xtest, iterations, learning_rate):
    global W1, b1, W2, b2
    
    for i in range(iterations):
        # Forward propagation
        A1, A2 = forward(Xtrain, W1, b1, W2, b2)
        
        # Compute loss (binary cross-entropy)
        loss = -(Ytrain * np.log(A2) + (1 - Ytrain) * np.log(1 - A2)).mean()
        
        # Backpropagation
        dW1, db1, dW2, db2 = backpropagation(Xtrain, Ytrain, A1, A2, W2)
        
        # Update parameters
        W1, b1, W2, b2 = update_parameters(W1, b1, W2, b2, dW1, db1, dW2, db2, learning_rate)
        
        if i % 100 == 0:
            print(f"Iteration {i}, Loss: {loss}")
    
    # Predictions on the test set
    predictions = predict(Xtest, W1, b1, W2, b2)
    return predictions

In [138]:
# Train the model
print("W1 shape:", W1.shape)
print("b1 shape:", b1.shape)
print("W2 shape:", W2.shape)
print("b2 shape:", b2.shape)

iterations = 1000
learning_rate = 0.01
predictions = train(Xtrain, Ytrain, Xtest, iterations, learning_rate)

# Prepare the submission file
submission = pd.DataFrame({
    "PassengerId": test_df["PassengerId"],
    "Survived": predictions.flatten()
})

# Save the submission file
submission.to_csv("submission.csv", index=False)
print("Submission file created successfully!")

W1 shape: (8, 10)
b1 shape: (1, 10)
W2 shape: (10, 1)
b2 shape: (1, 1)
Z1: [[0.003102871098529824 0.032885585635524364 0.021978773325383703 ...
  -2.200955368667802e-06 -0.024928551459812567 -0.004983111742798259]
 [0.005239669335942995 0.0081643858691755 0.0038240734471078853 ...
  -0.009064685198363705 -0.027884009633788436 -0.000723928841204877]
 [0.00856557554045034 0.009031504344583732 0.024627364950789248 ...
  0.023729490257569374 -0.022335847224892937 -0.021745454675843493]
 ...
 [nan nan nan ... nan nan nan]
 [0.0010911712368833907 -0.0006369046144714177 0.006605183733588757 ...
  0.006854801116527381 -0.003312175759090702 0.005735673522516263]
 [0.01083633211677587 -0.004467135152879789 0.011805408679495788 ...
  0.035175085384071166 -0.013049387664287046 0.0045629122615837535]]
Type of Z1: <class 'numpy.ndarray'>
type of z is <class 'numpy.ndarray'>

TypeError: loop of ufunc does not support argument 0 of type float which has no callable exp method

In [145]:
saman=np.array([1.3,2.5,np.nan,4,5,6])

In [146]:
saman2=np.exp(saman)

In [147]:
saman2

array([  3.66929667,  12.18249396,          nan,  54.59815003,
       148.4131591 , 403.42879349])